---
import './card-portfolio.css';
const {
	title,
	descripcion,
	imgSrc,
	skills,
	repoURL,
	demoURL,
	averageBrightness,
} = Astro.props;
---

<div class="card__portfolio">
	<img
	src={imgSrc}
	alt={title}
	crossorigin="anonymous"

	loading="lazy"
	average-brightness={averageBrightness}
	/>
	<h2 class="card__title0 text-6xl  font-extrabold top-96 text-white/75 ">{title}</h2>

	<div class="descripcion__container">
		<div class="descripcion">
			<p class="parrafo text-5xl text-center font-bold">{descripcion}</p>

			<div class="skills">
				{
					skills.map((skill) => (
						<iconify-icon class="iconify" icon={skill} />
					))
				}
			</div>

			<!-- <div class="buttons">
				<a href={repoURL}>
					<span>
						Github
						{(<iconify-icon icon="quill:link-out" />)}
					</span>
				</a>

				<a href={demoURL}>
					<span>
						Demo
						{(<iconify-icon icon="quill:link-out" />)}
					</span>
				</a>
			</div> -->
		</div>
	</div>
</div>
